In [ ]:
#tensorflow
import tensorflow as tf
import numpy as np
import pandas as pd
df=pd.read_csv('/content/lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [ ]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [ ]:
df.isna().sum()

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

In [ ]:
df.dtypes

Name       object
Surname    object
Age         int64
Smokes      int64
AreaQ       int64
Alkhol      int64
Result      int64
dtype: object

In [ ]:
df.drop(['Name','Surname'],axis=1,inplace=True)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [ ]:
x=df.iloc[:,:-1].values
x

array([[35,  3,  5,  4],
       [27, 20,  2,  5],
       [30,  0,  5,  2],
       [28,  0,  8,  1],
       [68,  4,  5,  6],
       [34,  0, 10,  0],
       [58, 15, 10,  0],
       [22, 12,  5,  2],
       [45,  2,  6,  0],
       [52, 18,  4,  5],
       [33,  4,  8,  0],
       [18, 10,  6,  3],
       [25,  2,  5,  1],
       [28, 20,  2,  8],
       [34, 25,  4,  8],
       [39, 18,  8,  1],
       [42, 22,  3,  5],
       [19, 12,  8,  0],
       [62,  5,  4,  3],
       [73, 10,  7,  6],
       [55, 15,  1,  3],
       [33,  8,  8,  1],
       [22, 20,  6,  2],
       [44,  5,  8,  1],
       [77,  3,  2,  6],
       [21, 20,  5,  3],
       [37, 15,  6,  2],
       [34, 12,  8,  0],
       [55, 20,  1,  4],
       [40, 20,  2,  7],
       [36, 13,  5,  2],
       [56, 20,  3,  3],
       [47, 15,  1,  8],
       [62, 25,  3,  4],
       [26, 10,  7,  2],
       [25, 20,  8,  2],
       [59, 20,  3,  4],
       [62, 15,  5,  5],
       [33, 25,  8,  2],
       [37, 10,  5,  3],
       [50, 20,  2,  4],
       [47, 12,  8,  0],
       [69, 20,  5,  4],
       [63, 20,  4,  5],
       [39, 15,  7,  2],
       [21, 20,  8,  3],
       [31, 20,  9,  4],
       [28, 10,  4,  1],
       [53, 20,  6,  3],
       [62, 20,  5,  6],
       [42, 12,  6,  2],
       [44, 30,  1,  6],
       [26, 34,  1,  8],
       [35, 20,  5,  1],
       [26, 13,  6,  1],
       [77, 20,  5,  4],
       [75, 15,  3,  5],
       [43, 30,  3,  8],
       [51, 25,  9,  0]])

In [ ]:
y=df.iloc[:,-1].values
y

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

array([[26, 13,  6,  1],
       [73, 10,  7,  6],
       [36, 13,  5,  2],
       [42, 12,  6,  2],
       [39, 15,  7,  2],
       [77, 20,  5,  4],
       [39, 18,  8,  1],
       [52, 18,  4,  5],
       [34, 12,  8,  0],
       [37, 15,  6,  2],
       [42, 22,  3,  5],
       [77,  3,  2,  6],
       [62, 25,  3,  4],
       [75, 15,  3,  5],
       [47, 12,  8,  0],
       [18, 10,  6,  3],
       [47, 15,  1,  8],
       [26, 34,  1,  8],
       [50, 20,  2,  4],
       [62, 15,  5,  5],
       [40, 20,  2,  7],
       [63, 20,  4,  5],
       [27, 20,  2,  5],
       [33,  8,  8,  1],
       [30,  0,  5,  2],
       [31, 20,  9,  4],
       [37, 10,  5,  3],
       [25, 20,  8,  2],
       [44,  5,  8,  1],
       [53, 20,  6,  3],
       [33,  4,  8,  0],
       [22, 20,  6,  2],
       [62,  5,  4,  3],
       [51, 25,  9,  0],
       [55, 15,  1,  3],
       [22, 12,  5,  2],
       [69, 20,  5,  4],
       [34, 25,  4,  8],
       [55, 20,  1,  4],
       [44, 30,  1,  6],
       [33, 25,  8,  2]])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
x_train

array([[-1.15393627, -0.43269425,  0.40496913, -1.08797778],
       [ 1.7796194 , -0.84848639,  0.80993827,  1.1649055 ],
       [-0.52977549, -0.43269425,  0.        , -0.63740112],
       [-0.15527902, -0.57129163,  0.40496913, -0.63740112],
       [-0.34252726, -0.1554995 ,  0.80993827, -0.63740112],
       [ 2.02928371,  0.53748739,  0.        ,  0.26375219],
       [-0.34252726,  0.26029264,  1.2149074 , -1.08797778],
       [ 0.46888176,  0.26029264, -0.40496913,  0.71432885],
       [-0.65460765, -0.57129163,  1.2149074 , -1.53855444],
       [-0.46735941, -0.1554995 ,  0.40496913, -0.63740112],
       [-0.15527902,  0.81468215, -0.80993827,  0.71432885],
       [ 2.02928371, -1.81866804, -1.2149074 ,  1.1649055 ],
       [ 1.09304254,  1.23047428, -0.80993827,  0.26375219],
       [ 1.90445155, -0.1554995 , -0.80993827,  0.71432885],
       [ 0.15680137, -0.57129163,  1.2149074 , -1.53855444],
       [-1.6532649 , -0.84848639,  0.40496913, -0.18682447],
       [ 0.15680137, -0.1554995 , -1.61987654,  2.06605882],
       [-1.15393627,  2.47785069, -1.61987654,  2.06605882],
       [ 0.3440496 ,  0.53748739, -1.2149074 ,  0.26375219],
       [ 1.09304254, -0.1554995 ,  0.        ,  0.71432885],
       [-0.28011118,  0.53748739, -1.2149074 ,  1.61548216],
       [ 1.15545862,  0.53748739, -0.40496913,  0.71432885],
       [-1.09152019,  0.53748739, -1.2149074 ,  0.71432885],
       [-0.71702373, -1.12568114,  1.2149074 , -1.08797778],
       [-0.90427196, -2.23446017,  0.        , -0.63740112],
       [-0.84185588,  0.53748739,  1.61987654,  0.26375219],
       [-0.46735941, -0.84848639,  0.        , -0.18682447],
       [-1.21635235,  0.53748739,  1.2149074 , -0.63740112],
       [-0.03044687, -1.54147328,  1.2149074 , -1.08797778],
       [ 0.53129784,  0.53748739,  0.40496913, -0.18682447],
       [-0.71702373, -1.68007066,  1.2149074 , -1.53855444],
       [-1.40360058,  0.53748739,  0.40496913, -0.63740112],
       [ 1.09304254, -1.54147328, -0.40496913, -0.18682447],
       [ 0.40646568,  1.23047428,  1.61987654, -1.53855444],
       [ 0.65612999, -0.1554995 , -1.61987654, -0.18682447],
       [-1.40360058, -0.57129163,  0.        , -0.63740112],
       [ 1.52995508,  0.53748739,  0.        ,  0.26375219],
       [-0.65460765,  1.23047428, -0.40496913,  2.06605882],
       [ 0.65612999,  0.53748739, -1.61987654,  0.26375219],
       [-0.03044687,  1.92346117, -1.61987654,  1.1649055 ],
       [-0.71702373,  1.23047428,  1.2149074 , -0.63740112]])

In [ ]:
#model creation
ann=tf.keras.models.Sequential()  #input layer

In [ ]:
#first hidden layer
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [ ]:
#second hidden layer
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [ ]:
#output layer
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [ ]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
2/2 [==============================] - 2s 14ms/step - loss: 0.8016 - accuracy: 0.2927
Epoch 2/100
2/2 [==============================] - 0s 24ms/step - loss: 0.7967 - accuracy: 0.2927
Epoch 3/100
2/2 [==============================] - 0s 16ms/step - loss: 0.7926 - accuracy: 0.2927
Epoch 4/100
2/2 [==============================] - 0s 13ms/step - loss: 0.7888 - accuracy: 0.2927
Epoch 5/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7848 - accuracy: 0.2927
Epoch 6/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7810 - accuracy: 0.2927
Epoch 7/100
2/2 [==============================] - 0s 7ms/step - loss: 0.7774 - accuracy: 0.2927
Epoch 8/100
2/2 [==============================] - 0s 11ms/step - loss: 0.7735 - accuracy: 0.3171
Epoch 9/100
2/2 [==============================] - 0s 11ms/step - loss: 0.7700 - accuracy: 0.3171
Epoch 10/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7663 - accuracy: 0.3171
Epoch 11/100
2/2 [==============================] - 0s 17ms/step - loss: 0.7629 - accuracy: 0.3415
Epoch 12/100
2/2 [==============================] - 0s 14ms/step - loss: 0.7598 - accuracy: 0.3415
Epoch 13/100
2/2 [==============================] - 0s 11ms/step - loss: 0.7565 - accuracy: 0.3415
Epoch 14/100
2/2 [==============================] - 0s 14ms/step - loss: 0.7534 - accuracy: 0.3415
Epoch 15/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7502 - accuracy: 0.3415
Epoch 16/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7471 - accuracy: 0.3415
Epoch 17/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7442 - accuracy: 0.3659
Epoch 18/100
2/2 [==============================] - 0s 8ms/step - loss: 0.7411 - accuracy: 0.3902
Epoch 19/100
2/2 [==============================] - 0s 8ms/step - loss: 0.7385 - accuracy: 0.4146
Epoch 20/100
2/2 [==============================] - 0s 20ms/step - loss: 0.7352 - accuracy: 0.4146
Epoch 21/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7325 - accuracy: 0.4146
Epoch 22/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7296 - accuracy: 0.4390
Epoch 23/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7267 - accuracy: 0.4634
Epoch 24/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7241 - accuracy: 0.4634
Epoch 25/100
2/2 [==============================] - 0s 9ms/step - loss: 0.7214 - accuracy: 0.4878
Epoch 26/100
2/2 [==============================] - 0s 10ms/step - loss: 0.7188 - accuracy: 0.5122
Epoch 27/100
2/2 [==============================] - 0s 12ms/step - loss: 0.7161 - accuracy: 0.5366
Epoch 28/100
2/2 [==============================] - 0s 8ms/step - loss: 0.7139 - accuracy: 0.5366
Epoch 29/100
2/2 [==============================] - 0s 7ms/step - loss: 0.7112 - accuracy: 0.5366
Epoch 30/100
2/2 [==============================] - 0s 8ms/step - loss: 0.7089 - accuracy: 0.5610
Epoch 31/100
2/2 [==============================] - 0s 7ms/step - loss: 0.7064 - accuracy: 0.5610
Epoch 32/100
2/2 [==============================] - 0s 7ms/step - loss: 0.7044 - accuracy: 0.5610
Epoch 33/100
2/2 [==============================] - 0s 7ms/step - loss: 0.7019 - accuracy: 0.5610
Epoch 34/100
2/2 [==============================] - 0s 12ms/step - loss: 0.6997 - accuracy: 0.5610
Epoch 35/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6974 - accuracy: 0.5854
Epoch 36/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6952 - accuracy: 0.5854
Epoch 37/100
2/2 [==============================] - 0s 29ms/step - loss: 0.6930 - accuracy: 0.5854
Epoch 38/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6908 - accuracy: 0.5854
Epoch 39/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6886 - accuracy: 0.6098
Epoch 40/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6864 - accuracy: 0.6098
Epoch 41/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6842 - accuracy: 0.6098
Epoch 42/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6820 - accuracy: 0.6098
Epoch 43/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6798 - accuracy: 0.6098
Epoch 44/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6775 - accuracy: 0.6098
Epoch 45/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6755 - accuracy: 0.6098
Epoch 46/100
2/2 [==============================] - 0s 6ms/step - loss: 0.6731 - accuracy: 0.6098
Epoch 47/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6708 - accuracy: 0.6341
Epoch 48/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6686 - accuracy: 0.6341
Epoch 49/100
2/2 [==============================] - 0s 13ms/step - loss: 0.6663 - accuracy: 0.6341
Epoch 50/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6640 - accuracy: 0.6585
Epoch 51/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6616 - accuracy: 0.6585
Epoch 52/100
2/2 [==============================] - 0s 11ms/step - loss: 0.6593 - accuracy: 0.6585
Epoch 53/100
2/2 [==============================] - 0s 14ms/step - loss: 0.6570 - accuracy: 0.6585
Epoch 54/100
2/2 [==============================] - 0s 25ms/step - loss: 0.6544 - accuracy: 0.6585
Epoch 55/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6520 - accuracy: 0.6585
Epoch 56/100
2/2 [==============================] - 0s 18ms/step - loss: 0.6493 - accuracy: 0.6585
Epoch 57/100
2/2 [==============================] - 0s 13ms/step - loss: 0.6467 - accuracy: 0.6585
Epoch 58/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6442 - accuracy: 0.6585
Epoch 59/100
2/2 [==============================] - 0s 13ms/step - loss: 0.6415 - accuracy: 0.6585
Epoch 60/100
2/2 [==============================] - 0s 18ms/step - loss: 0.6386 - accuracy: 0.6585
Epoch 61/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6361 - accuracy: 0.6829
Epoch 62/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6332 - accuracy: 0.6829
Epoch 63/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6305 - accuracy: 0.6829
Epoch 64/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6277 - accuracy: 0.6829
Epoch 65/100
2/2 [==============================] - 0s 10ms/step - loss: 0.6246 - accuracy: 0.6829
Epoch 66/100
2/2 [==============================] - 0s 11ms/step - loss: 0.6217 - accuracy: 0.6829
Epoch 67/100
2/2 [==============================] - 0s 9ms/step - loss: 0.6187 - accuracy: 0.6829
Epoch 68/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6156 - accuracy: 0.6829
Epoch 69/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6123 - accuracy: 0.6829
Epoch 70/100
2/2 [==============================] - 0s 8ms/step - loss: 0.6091 - accuracy: 0.6829
Epoch 71/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6058 - accuracy: 0.6829
Epoch 72/100
2/2 [==============================] - 0s 7ms/step - loss: 0.6024 - accuracy: 0.7073
Epoch 73/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5989 - accuracy: 0.7073
Epoch 74/100
2/2 [==============================] - 0s 15ms/step - loss: 0.5955 - accuracy: 0.7073
Epoch 75/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5918 - accuracy: 0.7073
Epoch 76/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5882 - accuracy: 0.7073
Epoch 77/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5842 - accuracy: 0.7317
Epoch 78/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5804 - accuracy: 0.7317
Epoch 79/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5766 - accuracy: 0.7317
Epoch 80/100
2/2 [==============================] - 0s 16ms/step - loss: 0.5724 - accuracy: 0.7561
Epoch 81/100
2/2 [==============================] - 0s 15ms/step - loss: 0.5684 - accuracy: 0.7561
Epoch 82/100
2/2 [==============================] - 0s 22ms/step - loss: 0.5641 - accuracy: 0.7805
Epoch 83/100
2/2 [==============================] - 0s 11ms/step - loss: 0.5601 - accuracy: 0.7805
Epoch 84/100
2/2 [==============================] - 0s 11ms/step - loss: 0.5556 - accuracy: 0.7805
Epoch 85/100
2/2 [==============================] - 0s 6ms/step - loss: 0.5514 - accuracy: 0.7805
Epoch 86/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5469 - accuracy: 0.7805
Epoch 87/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5424 - accuracy: 0.7805
Epoch 88/100
2/2 [==============================] - 0s 9ms/step - loss: 0.5379 - accuracy: 0.7805
Epoch 89/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5333 - accuracy: 0.7805
Epoch 90/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5287 - accuracy: 0.7805
Epoch 91/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5240 - accuracy: 0.7805
Epoch 92/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5193 - accuracy: 0.7805
Epoch 93/100
2/2 [==============================] - 0s 11ms/step - loss: 0.5146 - accuracy: 0.7805
Epoch 94/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5098 - accuracy: 0.7805
Epoch 95/100
2/2 [==============================] - 0s 8ms/step - loss: 0.5049 - accuracy: 0.7805
Epoch 96/100
2/2 [==============================] - 0s 9ms/step - loss: 0.4998 - accuracy: 0.8049
Epoch 97/100
2/2 [==============================] - 0s 23ms/step - loss: 0.4946 - accuracy: 0.8049
Epoch 98/100
2/2 [==============================] - 0s 12ms/step - loss: 0.4897 - accuracy: 0.8293
Epoch 99/100
2/2 [==============================] - 0s 8ms/step - loss: 0.4847 - accuracy: 0.8293
Epoch 100/100
2/2 [==============================] - 0s 22ms/step - loss: 0.4797 - accuracy: 0.8293

In [ ]:
ann.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 30

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 79 (316.00 Byte)
Trainable params: 79 (316.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________